body{
    background-color: #272727;
    font-size: 1.3rem;
    color: #fff;
}

.input{
    background-color: #272727;
    padding: 5px;
    outline: none;
    box-shadow: 0 0 0 0;
    border: 1px solid rgb(97, 0, 97);
    border-radius: 3px;
    font-size: 1.05rem;
    color: #fff;
}

.btn{
    padding: 8px;
    margin: 8px;
    background-color: #272727;

    color: #fff;
    transform: translateX(0) scale(0.95);
}

.btn:hover{
    transform: translateX(5px) scale(1);
    transform: translateY(5px) scale(1);
    transform: translateZ(5px) scale(1);
}

.register{
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-top: 1px solid rgb(97, 0, 97);
    border-bottom: 1px solid rgb(97, 0, 97);
    margin-bottom: 10px;
    padding: 10px;
}

.register div{
    margin-bottom: 5px;
    margin-top: 5px;
}

#cpf{
    background-color: black;
    border-radius: 3px;
    color: black;
}

#cpf:hover{
    color: #fff;
}

.titleInfo{
    display: inline;
}

.info{
    display: inline;
}

.new-purshase{
    margin: 20px;
}

.new-purshase-div{
    border-bottom: 1px solid rgb(97, 0, 97);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#new-purchase{
    font-size: 1.1rem;
}

#purchase-list{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(97, 0, 97);
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    gap: 20px;
    list-style: none;
}

#purchase-list li{
    display: flex;
    justify-content:space-between;
    background-color: #1b1b1b;
    border-radius: 3px;
    padding: 5px;
}

#span-1{
    margin-right: 30px;
}
#span-2{
    margin-left: 30px;
    margin-right: 30px;
}
#span-3{
    margin-right: 30px;
    margin-left: 30px;
}
#span-4{

    margin-left: 30px;
}

#total-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-bottom: 1px solid rgb(97, 0, 97);
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.payment{
    margin-left: 30px;
    margin-bottom: 20px;
}

#payment-list{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(97, 0, 97);
    border-top: 1px solid rgb(97, 0, 97);
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    gap: 20px;
    list-style: none;
}

#payment-list li{
    display: flex;
    justify-content:space-around;
    background-color: #1b1b1b;
    border-radius: 3px;
    padding: 5px;
}

#payment-amount{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 1.5rem;

}

#remaining-balance{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 1.5rem;

}

.pay{
    margin: 30px;
    padding: 15px;
}



.payOff{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px 0px 15px 0px;
    gap: 10px;
}

.btn_{
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
    transform: translateX(0) scale(0.95);
}

.btn_:hover{
    transform: translateX(5px) scale(1);
    transform: translateY(5px) scale(1);
    transform: translateZ(5px) scale(1);
}