body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(97, 0, 97);
    background-image: linear-gradient(to bottom, #272727, #000000);
    color: #fff;
}

.btn{
    padding: 8px;
    margin: 8px;
    color: #fff;
    transform: translateX(0) scale(0.95);
}

.btn:hover{
    transform: translateX(5px) scale(1);
    transform: translateY(5px) scale(1);
    transform: translateZ(5px) scale(1);
}

.title{
    display: flex;
    color: #fff;
    justify-content: center;
    margin: 10px;
    font-size: 2.5rem;
    color: rgb(160, 0, 160);
    border-bottom: 1px solid rgb(97, 0, 97);
    margin-bottom: 30px;
    margin-top: 50px;
}

#createClient{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.title-form{
    font-size: 1.3rem;
}

.input-form{
    outline: none;
    margin-bottom: 25px;
    margin-right: 100px;
    padding: 8px;
    font-size: 1.1rem;
    background-color: #dbdbdb;
    border: none;
    border-radius: 2px;
}


.submit-btn{
    width: 50%;
    font-size: 1.3rem;
    margin-top: 15px;
    padding: 10px;
    color: rgb(97, 0, 97);
    border-radius: 5px;
    border: 2px solid rgb(97, 0, 97);
    transition: 0.4s ease;
    transform: translateX(0) scale(0.95);
    align-self: center;
    color: #fff;
}

.submit-btn:hover{
    background-color: rgb(97, 0, 97);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(97, 0, 97),
    0 0 22px rgb(97, 0, 97);
    transform: translateX(5px) scale(1);
    transform: translateY(5px) scale(1);
    transform: translateZ(5px) scale(1);
}